@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seus estilos personalizados abaixo */
body,
#root {
  min-height: 100vh;
  background: #ffffff; /* Cor branca */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
